@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Frank+Ruhl+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Rubik', 'Frank Ruhl Libre', sans-serif;
    scroll-behavior: smooth;
    --second_text-color: rgb(248, 187, 3);
    --text-color: #fff;
    --background-color_dark: #261d17;
    --text-color_black: #000;
    --button-color_green: green;
    --button-color_darkgreen: darkgreen;
    --background-color_choice: #f4eee1;
    --text-color_choice: #614e44;
    --bs-accordion-bg: #f4eee1;
}