.footer {    
    font-family: 'Rubik', sans-serif;
    background-color: burlywood;
    text-align: center;
}
.footer__container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}
.footer__flex {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer__title {
    padding-top: 40px;
}
.footer__end {
    padding-bottom: 30px;
}
