.section-visit__wrapper {
    width: 100%;
    background-color: var(--background-color_dark); 
    background-image: url(../img/beer_and_leaves.png);
    background-attachment: fixed;
    background-size: cover;
    /*rgba(255, 255, 255, 0);*/
}
.section-visit__container {
    max-width: 272px;
    margin: 0 auto;     
}
@media (min-width: 480px) {
    .section-visit__container {
        max-width: 432px;
        margin: 0 auto;
    } 
}
@media (min-width: 768px) {
    .section-visit__container {
        max-width: 708px;
        margin: 0 auto;
    } 
}
@media (min-width: 980px) {
    .section-visit__container {
        max-width: 894px;
        margin: 0 auto;
    }     
}
.title {
    font-size: 58px;
    font-weight: bold;
}
@media (min-width: 768px) {
    .title {
        font-size: 71px;
    } 
}
.section-visit__title {
    font-size: 58px;
    font-weight: bold;
    color: var(--text-color);
    font-family: 'Frank Ruhl Libre', sans-serif;
    padding-bottom: 40px;    
}
@media (min-width: 768px) {
    .title {
        max-width: 260px;
    } 
}
@media (min-width: 980px) {
    .title {
        max-width: 314px;
    } 
}
.section-visit__separat {
    font-size: 20px;
    font-family: 'Frank Ruhl Libre', sans-serif;
    color: var(--second_text-color);
    padding-bottom: 20px;
    padding-top: 100px;
    max-width: 43px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.section-visit__spikelet-separat {
    padding-bottom: 30px;
}
.spikelet-separat {
    width: 100px;
}
.section-visit__subtitle {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    font-family: 'Rubik', sans-serif;
    max-width: 280px;
    padding-bottom: 40px;
}
@media (min-width: 980px) {
    .section-visit__subtitle {
        max-width: 360px;
    } 
}
.section-visit__buttons {
    padding-bottom: 20px;
}
@media (min-width: 560px) {
    .section-visit__buttons {
        display: flex;
        gap: 30px;
    }
}
.section-visit__button1 {
    width: 175px;
    height: 45px;
    background-color: var(--button-color_green);
    border-radius: 30px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    color: var(--text-color);
    align-items: center;
    padding-top: 12px;
    padding-left: 50px;
    margin-bottom: 20px;
}
.section-visit__button1:hover {
    background-color: var(--button-color_darkgreen);
}
.section-visit__button2 {
    width: 187px;
    height: 50px;
    background-color: var(--button-color_darkgreen);
    border-radius: 30px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    color: var(--text-color);
    align-items: center;
    padding-top: 15px;
    padding-left: 55px; 
    margin-bottom: 50px;       
}
.section-visit__button2:hover {
    background-color: var(--button-color_green);
}
.hidden {
    overflow: hidden;
}
.modal {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
}   
  .modal_active {
    position: fixed;
    top: 0;
    visibility: visible;
    opacity: 1;
    transition: .3s;
}
.modal__content {
    width: 100%;
    max-width: 500px;
    padding: 50px;
    background: #f9f9f9;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 5px 15px black;
    font-weight: bold;
}
.modal__close-button {
    background: #ff0000;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    cursor: pointer;
    transition: .3s;
    outline: none;
}
.modal__close-button:hover {
    transition: .3s;
    transform: rotate(180deg);
}
.modal__description {
    font-size: 1.125rem;
  }
/* <p class="modal__descruption">Статья с уроком - <a href="/kak-sdelat-modalnoe-okno-na-sajte.html">тут</a>.</p>
  */
a {
    text-decoration: none;
    color: #fff;
}
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header_background_image.png);
    background-size: cover;
    background-attachment: fixed;
    
}

.nav__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 10px;
    color: var(--text-color);
    margin-left: 20px;
}
.header__adress,
.header__telephone {
    font-family: 'Rubik', sans-serif;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
}
.menu__items {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: var(--text-color);
    font-size: 17px;
    font-weight: 400;
    padding: 10px
}

.nav__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav__nav__logo {
    /* transform: scale(0.7); */
    min-width: 130px;
    margin-left: 20px;
    }

.social-media__icon {
    margin-left: 20px;
}  
.facebook,
.instagram,
.you-tube {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.info__title {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 5px;
    letter-spacing: 4px;
    color: var(--second_text-color);
    display: block;
    margin: 80px 10px 30px 20px;
}
.info__undertitle {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 70px;
    font-weight: 900;
    color: var(--text-color);
    line-height: 72px;
    display: block;
    margin: 30px 10px 30px 20px 
} 

.info__text {
    font-family: 'Rubik';
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    color: #aa7c5a;
    margin-bottom: 40px;
    display: block;
    margin: 30px 10px 30px 20px;
}

.button__item {
    width: 8rem;
    height: 2.5rem;
    background-color: #2c8536;
    border-radius: 25px;
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Rubik';
    font-size: 0.9rem;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin: 20px;
}

.header__picture,
.bunner__picture {
    width: 350px;
    margin: auto;
}

@media (min-width: 700px) {
.nav__nav__menu {
    margin-left: 275px;
}  

.header__bunner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header__picture,
.bunner__picture {
    width: 550px;
    }
}
    .divClass {
    width: 100%;
    height: 100px;
    }
    .header__logo {
        min-width: 130px;
        padding-top: 40px;
        margin-left: 7px;
        margin-bottom: 5px;
    }
    .navigationItems {
    width: 28px;
    height: 25px;
    position: fixed;
    top: 40px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 100;
    }
    .line {
    width: inherit;
    height: 5px;
    background-color: var(--text-color);
    border-radius: 20px;
    transform-origin: right;
    transition: transform .5s;
    }
    .secondLine {
    height: 3px;
    }
    .change .secondLine {
    transform: translate(5px, 20px);
    opacity: 0;
    }
    .change .thirdLine {
    transform: rotateZ(45deg);
    }
    .change .firstLine {
    transform: rotateZ(-45deg);
    }
    .mainNavigation {
    height: 15vh;
    width: 100%;    
    position: fixed;
    top: -15vh;
    z-index: 50;
    transition: top .4s;
    }
    .change .mainNavigation {
    top: 0;
    }
    .nav-link::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    bottom: -100%;
    background-color: #000;
    padding: inherit;
    color: #16c3cf;
    transform: rotateX(-90deg);
    transform-origin: top;
    }
    .nav-link {
    text-decoration: none;
    font-size: 20px;
    color: var(--text-color);
    padding: 5px 10px;
    display: block;
    position: relative;
    }
    .navigationList {
    list-style: none;
    width: 80%;
    margin: auto;
    height: inherit;
    display: flex;
    margin-left: 300px; 
    margin-top: 32px;  
    }
    .nav-link:hover {
    color: var(--second_text-color);
    }